# Database configuration
DATABASE_DRIVER="postgresql+psycopg2"
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=ai-support
DATABASE_USERNAME="ai-support"
DATABASE_PASSWORD="ai-support"

# Langfuse configuration
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL="http://localhost:3000"
