# Database configuration
DATABASE_DRIVER="postgresql+psycopg2"
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=ai-support
DATABASE_USERNAME="ai-support"
DATABASE_PASSWORD="ai-support"

# Langfuse configuration
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL="http://localhost:3000"


# AI model configuration

/* 
Supported AI_MODEL_DRIVER values:
- "ollama": Use Ollama as the AI model provider.
- "openai": Use OpenAI as the AI model provider.
- "anthropic": Use Anthropic as the AI model provider.
- "custom": Use a custom AI model provider with the specified AI_HOST and AI_API_KEY.
*/

AI_MODEL_DRIVER=
MODEL=
AI_HOST=
AI_API_KEY=
